.App {
    text-align: center;
}

.wrapper {
  height: 15vh;
  gap: 5px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.box {
  border: 1px solid #000;
}

.box img {
  width: 90%;
  height: 90%;
  margin-top: 5px;
}

.box1 img {
  object-fit: cover;
}

.box2 img {
  object-fit: contain;
}

.box3 img {
  object-fit: fill;
}